[submodule "Data-Collector"]
	path = Data-Collector
	url = https://github.com/alihaider1264/sca-ml.git
	branch = Data-Collector
[submodule "Model-Generator"]
	path = Model-Generator
	url = https://github.com/alihaider1264/sca-ml.git
	branch = Model-Generator
[submodule "Score-Generator"]
	path = Score-Generator
	url = https://github.com/alihaider1264/sca-ml.git
	branch = Score-Generator
